.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.textfield {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 14px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}
